<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../scripts/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../scripts/jquery/dist/jquery.min.js"></script>
    <script src="../scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../javascripts/append.js"></script>

    <title></title>
</head>
<body>
<div class="displayUsers container">
<button class="btn-display">Display Users</button>
</div>
</body>
</html>