body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button {
  border-radius: 5px;
  background-color: rgba(158, 5, 76, 0.56);
  width: 150px;
  margin-bottom: 20px;
}
.displayUsers ul {
  display: inline-block;
}